@font-face {
  font-family: 'MevaraTrial';
  src: url('../fonts/MevaraTrial-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(34, 34, 34);
  font-family: 'MevaraTrial', serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: rgb(255, 255, 255);
}

header img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(241, 239, 239);

}

.center {
  text-align: center;
}

h1 {
  color: rgb(171, 166, 166);
}

footer img {
  width: 40px;
  height: 40px;
}

footer{
  display: flex;
  justify-content: center;
}
footer a{
  margin: 20px;
  text-align: center;
}
footer p{
  margin-top: 2px;
}
.container {
  padding: 0px 50px;
}
nav a:hover{
  color: antiquewhite;
}

.pasta .imagem{
  height: 600px;
  width: 60%;

}
.pasta .imagem2{
  height: 600px;

}